@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    /* --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%; */
    --destructive: 0 74.2% 60.2%;
    --destructive-foreground: 0 0% 78%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .react-select-container .react-select__control {
    @apply rounded-lg   border-neutral-300 bg-white hover:border-neutral-300   dark:border-neutral-800 dark:bg-background focus-within:ring-[2px]   focus-within:ring-neutral-400 dark:focus-within:ring-neutral-800   focus-within:ring-offset-2  focus-within:ring-offset-background 
  }

  /* .react-select-container .react-select__control--is-focused {
    @apply shadow-none;
  } */

  .react-select-container .react-select__menu {
    @apply bg-neutral-50  dark:bg-background  border-[1px] border-neutral-100 dark:border-neutral-800;
  }

  .react-select-container .react-select__option {
    @apply bg-neutral-50 text-neutral-600 hover:bg-neutral-100 dark:bg-background dark:text-neutral-200 dark:hover:bg-neutral-700;
  }

  .react-select-container .react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__single-value {
    @apply cursor-text text-neutral-600 dark:text-neutral-200;
  }

  .react-select-container .react-select__placeholder {
    @apply cursor-text text-neutral-400 dark:text-neutral-500 line-clamp-1;
  }

  .react-select__indicator .react-select__dropdown-indicator {
    @apply cursor-pointer text-neutral-400 hover:text-neutral-200;
  }
}
